body {
            font-family: 'Inter', sans-serif;
            background-color: #f8fafc;
            #cuerpo-tabla { min-height: 200px; }
        }

    /* Animación suave para los modal */
        .modal-active {
            transition: opacity 0.3s ease, transform 0.3s ease;
        }